<launch>
  <node name="octomap_server" pkg="octomap_server" type="octomap_server_node" output="screen">
    <param name="resolution" value="0.05"/>
    <param name="frame_id" type="string" value="base_link"/>
    <param name="sensor_model/max_range" value= "5.0"/>
    <remap from="velodyne_points" to="points_filtered2"/>
  </node>
</launch>

